.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;

  width: 36rem;
  height: 0.618rem;
  flex-grow: 1;

  background-color: #b7e3fa;
}

.delete-btn {
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.25rem;
}

.done {
  text-decoration: line-through;
}

.todo-item > .actions-container {
  display: flex;
  align-items: center;
}
